<!DOCTYPE html>
<html lang="ko">

<head>
  <title>Mine Sweeper Game</title>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/modal.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script type="text/javascript" src="/export.js"></script>
  <script type="text/javascript" src="/commonutility.js"></script>
  <script type="text/javascript" src="/ptAsyncCommunicate.js"></script>
  <meta charset="utf-8">
</head>

<body>
  <div class='modal hidden'>
    <div class='modal_overlay'></div>
    <div class='modal_content'>
      <div id='modal_game_status'>XXX</div>
      <div id='modal_game_over_time'>000</div>
      <div id='modal_percentage_of_victories'>000</div>
      <div id='modal_total_game_number'>000</div>
      <button id='closemodal'>close</button>
    </div>
  </div>
  <div class='buttongroup'>
    <div id='gameinfo'>
      <div id='gameinfocell'>
        <img src='/timer.png' />
        <span class='spanelement' id='timer'>000</span>
        <img src='/flag.png' />
        <span class='spanelement' id='extraflag'><%= numofMine %></span>
      </div>
    </div>
    <% for(let i=0; i< row ; i++){ %>
    <p style='margin-top : 10px' />
    <% for(let j=0; j< col ; j++){ %>
    <button id='buttoncell<%=i%>?<%=j%>'><%= mine[i][j] %></button>
    <%}%>
        </p>
      <%}%>
  </div>
</body>

</html>