<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Mine Sweeper</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script type="text/javascript" src="/asyncCommunication.js"></script>
    <script type="text/javascript" src="/createButton.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <a href ="/ranking">rank</a>
    <div id="minediv">
    </div>
  </body>
</html>