<!DOCTYPE html>
<html lang="ko">

<head>
  <title>Mine Sweeper Main</title>
  <script type="text/javascript" src="/movepage.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
</head>

<body>
  <div id='levelcontainer'>
    <button id='leveleasy' class='level-btn'>
      <div style = 'margin-bottom: 4px;'>EASY</div>
      <div>9 x 9</div>
    </button>
    <button id='levelnormal' class='level-btn'>
      <div style = 'margin-bottom: 4px;'>NORMAL</div>
      <div>16 X 16</div>
    </button>
    <button id='levelhard' class='level-btn'>
      <div style = 'margin-bottom: 4px;'>HARD</div>
      <div>30 X 30</div>
    </button>
  </div>
</body>

</html>