<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Not Found</title>
    <link rel="stylesheet" type="text/css" href="/css/notfound.css">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>404</h1>
    <h2>Not Found</h2>
  </body>
</html>