@import url(https:fonts.googleapis.com/css?family=Roboto:400,100,300,500);
*{
  box-sizing: border-box; /* 패딩, 보더속성을 넓이에 반영하지 않는다. */
}
html, body{
  width: 100%;
  height: 100%;
}
.buttongroup{
  margin: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.buttongroup button {
  background-image: linear-gradient(to bottom, #FFFFFF,#D1D1D1);
  border: 1px solid #5D5D5D;
  font-weight: bold;
  font-size: 13px;
  float: left;
  width: 27px;
  height: 27px;
  line-height: 21px;
  font-size: 13px;
  padding-bottom: 6px;
}
.buttongroup button:not(:last-child) {
  border-right: none;
}
.buttongroup:after {
  content: "";
  clear: both;
  display: table;
} 
.buttongroup button:hover:enabled {
  background-image: linear-gradient(to bottom, #E0DBE9,#FFF6FB);
}
.buttongroup button:active {
  background-image: linear-gradient(to bottom, #D4F4FA,#BDBDBD);
}
.buttongroup #gameinfo{
  height: 29px;
  margin-bottom: 0px;
  background-color: #28366b;
  border: solid #28366b; border-width: 3px 0px 3px;
  display:flex;
  justify-items: cneter;
  align-items: center;
}
#gameinfocell{
  max-width:50%;
  height:100%;
  margin: 0 auto;
}
#gameinfocell img{
  vertical-align: middle;
}
#gameinfocell .spanelement{
  height: 95%;
  min-width: 40px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color:white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}