.buttonGroup button {
  background-image: linear-gradient(to bottom, #FFF6FB,#E0DBE9);
  border: 1px solid #5D5D5D;
  color: #0100FF;
  font-weight: bold;
  font-size: 9px;
  padding: 6px 10px;
  float: left;
}
.buttonGroup button:not(:last-child) {
  border-right: none;
}
.buttonGroup:after {
  content: "";
  clear: both;
  display: table;
}
.buttonGroup button:hover {
  background-image: linear-gradient(to bottom, #E0DBE9,#FFF6FB);
}
.buttonGroup button:active {
  background-image: linear-gradient(to bottom, #5D5D5D,#BDBDBD);
}