.buttonGroup{
  margin: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.buttonGroup button {
  background-image: linear-gradient(to bottom, #FFFFFF,#E7E7E7);
  border: 1px solid #5D5D5D;
  font-weight: bold;
  font-size: 13px;
  float: left;
  width: 27px;
  height: 27px;
  line-height: 21px;
  font-size: 13px;
  padding-bottom: 6px;
  display: inline-block;
}
.buttonGroup button:not(:last-child) {
  border-right: none;
}
.buttonGroup:after {
  content: "";
  clear: both;
  display: table;
}
.buttonGroup button:hover:enabled {
  background-image: linear-gradient(to bottom, #E0DBE9,#FFF6FB);
}
.buttonGroup button:active {
  background-image: linear-gradient(to bottom, #D4F4FA,#BDBDBD);
}